[credential]
	helper = osxkeychain
[user]
	name = Lutz Thies
	email = lutz.thies@tu-dresden.de
[github]
 	user = 7HAL32
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
